{% extends "base.html" %}
{%block pageBase%}
<table>
    <tr>
        <td>Fecha:</td>
        <td>{{registros["fecha"]}}:</td>
        
    </tr>
    <tr>
        <td>Concepto:</td>
        <td>{{registros["concepto"]}}:</td>
        
    </tr>
    <tr>
        <td>Cantidad:</td>
        <td>{{registros["cantidad"]}}:</td>
        
    </tr>
</table>
<form action="/delete/{{registros['id']}}" method="post">
    <button type="submit">Borrar Registro</button>
</form>
<a href="/">Volver</a>

{%endblock%}